@model CurrentAccount

<partial name="_Notifications" />
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Current Account</h2>
            </div>
        </div>
    </div>

 <div class="card-body p-4">

  <form method="post" class="row p-4">
    <div class="border p-3">
           <div class="form-floating py-2 col-12">
            <select asp-for="ClientId" asp-items="ViewBag.ClientList" class="form-select form-control border-0 shadow" >
                <option disabled selected id="idCardClient" oninput="generateCurrentAccountNumber()" class="ms-2"> -- Select client -- </option>
            </select>
            <label class="p-0" asp-for="ClientId"></label>
            <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>
          <div class="form-floating py-2 col-12">
            <input asp-for="Valuta" id="valuta" class="form-control border-0 shadow" oninput="generateCurrentAccountNumber()" />
            <label class="p-0 ms-2" asp-for="Valuta"></label>
            <span asp-validation-for="Valuta" class="text-danger"></span>
        </div>
           <div class="form-floating py-2 col-12">
           <input asp-for="CurrentAccountNumber" class="form-control  border-0 shadow" id="currentAccountNumber" readonly />
           <label class="p-0 ms-2" asp-for="CurrentAccountNumber"></label>
           
        </div>
        

        <div class="row">
            <div class="col-6 col-md-3">
                 <button type ="submit" class="btn btn-primary form-control">Create</button>
            </div>

            <div class="col-6 col-md-3">
                <a asp-controller="CurrentAccount" asp-action="Index" class="btn btn-outline-primary  form-control">Back</a>
            </div>
        </div>
    </div>
    
</form>
</div>
</div>
@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}

<script>
    function generateCurrentAccountNumber() {
        // Get the values from the input fields
        var idCardClient = document.getElementById('idCardClient').value;
        var valuta = document.getElementById('valuta').value;

        // Get the selected option
        var baseString = idCardClient.charAt(23) + valuta.charAt(0);
        // Generate random digits
        var randomDigits = Math.floor(Math.random() * 10000000000000).toString();

        // Combine the base string with random digits
        
        var prefix = "13";
        var currentAccountNumber = prefix.concat(baseString, randomDigits);

        // Update the Current Account Number field
        document.getElementById('currentAccountNumber').value = currentAccountNumber;
    }
</script>
