@model CurrentAccount

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">

            <h2 class="text-primary">Create Current Account</h2>
            <hr/>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="IdCardClient"></label>
            <select asp-for="IdCardClient" asp-items="ViewBag.ClientList" class="form-select form-control" >
                <option disabled selected id="idCardClient" oninput="generateCurrentAccountNumber()"> -- Select client -- </option>
            </select>
            <span asp-validation-for="IdCardClient" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="Valuta"></label>
            <input asp-for="Valuta" id="valuta" class="form-control" oninput="generateCurrentAccountNumber()" />
            <span asp-validation-for="Valuta" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="CurrentAccountNumber"></label>
            <input asp-for="CurrentAccountNumber" class="form-control" id="currentAccountNumber" readonly />
           
        </div>
        

        <div class="row">
            <div class="col-6 col-md-3">
                 <button type ="submit" class="btn btn-primary form-control">Create</button>
            </div>

            <div class="col-6 col-md-3">
                <a asp-controller="CurrentAccount" asp-action="Index" class="btn btn-outline-secondary  form-control">Back</a>
            </div>
        </div>
    </div>
    
</form>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}

<script>
    function generateCurrentAccountNumber() {
        // Get the values from the input fields
        var idCardClient = document.getElementById('idCardClient').value;
        var valuta = document.getElementById('valuta').value;

        // Get the selected option
        var baseString = idCardClient.charAt(23) + valuta.charAt(0);
        // Generate random digits
        var randomDigits = Math.floor(Math.random() * 10000000000000).toString();

        // Combine the base string with random digits
        
        var prefix = "13";
        var currentAccountNumber = prefix.concat(baseString, randomDigits);

        // Update the Current Account Number field
        document.getElementById('currentAccountNumber').value = currentAccountNumber;
    }
</script>
