@model CurrentAccount


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">

            <h2 class="text-primary">Edit Current account</h2>
            <hr/>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="IdCardClient"></label>
            <select asp-for="IdCardClient" class="form-control form-select" asp-items="ViewBag.ClientList">
                <option disabled selected id="idCardClient"> </option>
            </select>
            <span asp-validation-for="IdCardClient" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="Valuta"></label>
            <input asp-for="Valuta" class="form-control" />
            <span asp-validation-for="Valuta" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label class="p-0" asp-for="CurrentAccountNumber"></label>
            <input asp-for="CurrentAccountNumber" class="form-control" id="currentAccountNumber" readonly />

        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                 <button type ="submit" class="btn btn-primary form-control">Edit</button>
            </div>

            <div class="col-6 col-md-3">
                <a asp-controller="CurrentAccount" asp-action="Index" class="btn btn-outline-secondary  form-control">Back</a>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
